html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-perspective: 550px;
  perspective: 550px;
}
.slide {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
.slide div {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide:nth-of-type(1) {
  -webkit-animation: slideTop 20s 16s ease-out infinite;
  animation: slideTop 20s 16s ease-in-out infinite;
}
.slide:nth-of-type(2) {
  -webkit-animation: slideRight 20s 12s ease-out infinite;
  animation: slideRight 20s 12s ease-in-out infinite;
}
.slide:nth-of-type(3) {
  -webkit-animation: slideLeft 20s 8s ease-out infinite;
  animation: slideLeft 20s 8s ease-in-out infinite;
}
.slide:nth-of-type(4) {
  -webkit-animation: slideBottom 20s 4s ease-out infinite;
  animation: slideBottom 20s 4s ease-in-out infinite;
}
.slide:nth-of-type(5) {
  -webkit-animation: slideBottom 20s ease-out infinite;
  animation: slideBottom 20s ease-in-out infinite;
}

@-webkit-keyframes slideBottom {
  0%,
  5% {
    -webkit-transform: rotateX(0);
    z-index: 1;
  }
  10% {
    -webkit-transform: rotateX(90deg);
  }
  13% {
    z-index: 1;
    -webkit-transform: rotateX(90deg) translateY(100%);
  }
  50% {
    z-index: -1;
    -webkit-transform: rotateX(90deg) translateY(100%);
  }
  53%,
  73% {
    z-index: -1;
    -webkit-transform: rotateX(0) translateY(0);
  }
}

@keyframes slideBottom {
  0%,
  5% {
    transform: rotateX(0);
    z-index: 1;
  }
  10% {
    transform: rotateX(90deg);
  }
  13% {
    z-index: 1;
    transform: rotateX(90deg) translateY(100%);
  }
  50% {
    z-index: -1;
    transform: rotateX(90deg) translateY(100%);
  }
  53%,
  80% {
    z-index: -1;
    transform: rotateX(0) translateY(0);
  }
  81%,
  100% {
    z-index: 0;
  }
}

.slide:nth-of-type(3) {
  -webkit-transform-origin: left center;
  transform-origin: left center;
}
@-webkit-keyframes slideLeft {
  0%,
  5% {
    -webkit-transform: rotateY(0);
    z-index: 1;
  }
  10% {
    -webkit-transform: rotateY(90deg);
  }
  13% {
    z-index: 1;
    -webkit-transform: rotateY(90deg) translateX(-100%);
  }
  50% {
    z-index: -1;
    -webkit-transform: rotateY(90deg) translateX(-100%);
  }
  53%,
  73% {
    z-index: -1;
    -webkit-transform: rotateY(0) translateX(0);
  }
}
@keyframes slideLeft {
  0%,
  5% {
    transform: rotateY(0);
    z-index: 1;
  }
  10% {
    transform: rotateY(90deg);
  }
  13% {
    z-index: 1;
    transform: rotateY(90deg) translateX(-100%);
  }
  50% {
    z-index: -1;
    transform: rotateY(90deg) translateX(-100%);
  }
  53%,
  80% {
    z-index: -1;
    transform: rotateY(0) translateX(0);
  }
  81%,
  100% {
    z-index: 0;
  }
}
/* Right */
.slide:nth-of-type(2) {
  -webkit-transform-origin: right center;
  transform-origin: right center;
}
@-webkit-keyframes slideRight {
  0%,
  5% {
    -webkit-transform: rotateY(0);
    z-index: 1;
  }
  10% {
    -webkit-transform: rotateY(-90deg);
  }
  13% {
    z-index: 1;
    -webkit-transform: rotateY(-90deg) translateX(100%);
  }
  50% {
    z-index: -1;
    -webkit-transform: rotateY(-90deg) translateX(100%);
  }
  53%,
  73% {
    z-index: -1;
    -webkit-transform: rotateY(0) translateX(0);
  }
}
@keyframes slideRight {
  0%,
  5% {
    transform: rotateY(0);
    z-index: 1;
  }
  10% {
    transform: rotateY(-90deg);
  }
  13% {
    z-index: 1;
    transform: rotateY(-90deg) translateX(100%);
  }
  50% {
    z-index: -1;
    transform: rotateY(-90deg) translateX(100%);
  }
  53%,
  80% {
    z-index: -1;
    transform: rotateY(0) translateX(0);
  }
  81%,
  100% {
    z-index: 0;
  }
}
/* Top */
.slide:nth-of-type(1) {
  -webkit-transform-origin: top center;
  transform-origin: top center;
}
@-webkit-keyframes slideTop {
  0%,
  5% {
    -webkit-transform: rotateX(0);
    z-index: 1;
  }
  10% {
    -webkit-transform: rotateX(-90deg);
  }
  13% {
    z-index: 1;
    -webkit-transform: rotateX(-90deg) translateY(-150%);
  }
  50% {
    z-index: -1;
    -webkit-transform: rotateX(-90deg) translateY(-150%);
  }
  53%,
  73% {
    z-index: -1;
    -webkit-transform: rotateX(0) translateY(0);
  }
}
@keyframes slideTop {
  0%,
  5% {
    transform: rotateX(0);
    z-index: 1;
  }
  10% {
    transform: rotateX(-90deg);
  }
  13% {
    z-index: 1;
    transform: rotateX(-90deg) translateY(-150%);
  }
  50% {
    z-index: -1;
    transform: rotateX(-90deg) translateY(-150%);
  }
  53%,
  80% {
    z-index: -1;
    transform: rotateX(0) translateY(0);
  }
  81%,
  100% {
    z-index: 0;
  }
}
.slide:nth-of-type(1) div {
  background: #223d65;
  color: white;
  text-align: center;
  padding-top: 200px;
  font-size: 16pt;
  font-family: 'Andale Mono', AndaleMono, monospace;
}
.slide:nth-of-type(2) div {
  background: url('https://th.bing.com/th/id/R.04e7a746df6e8ad91a77558af0ebecc2?rik=vHwWRGtY0FyPdA&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f32%2f50%2fNGIlEC.jpg&ehk=%2bC%2bW0mArONwGfG8%2f%2fRZvES2BK9%2bGwHEg1ObIE97ewaI%3d&risl=&pid=ImgRaw&r=0')
    center center;
  background-size: cover;
  border-radius: 25%;
}
.slide:nth-of-type(3) div {
  background: rgba(20, 20, 20, 0.842);
  color: white;
  text-align: center;
  padding-top: 200px;
  font-size: 16pt;
  font-family: Book Antiqua;
}
.slide:nth-of-type(4) div {
  background: url('https://wallpapercave.com/wp/wp3182792.png') center center;
  background-size: cover;
  border-radius: 50%;
 
}
.slide:nth-of-type(5) div {
  background: url('https://xmath.pl/images/pic01.jpg')
    center center;
  background-size: cover;
  
}
.text {
  position: absolute;
  top: 20%;
  min-width: 25%;
  min-height: auto;
  text-align: center;
  font-family: 'Lobster', sans-serif;
  font-size: 2em;
  transform: translate;
  color: rgb(7, 36, 200);
  transform: translateY (-50%);
}
.image {
  margin-top: 5%;
  width: 15%;
  border-radius: 50%;
}
