.icon-bar {
  width: 25%;
  background-color: rgba(85, 85, 85, 0);
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #000000;
}

/* clock */
.clock {
  height: 15%;
  position: absolute;
  top: 95%;
  left: 80%;
  width:55%;
  margin-left: -450px;
  margin-top: -150px;
  text-align: center;
}

.digit {
  width: 120px;
  height: 100%;
  margin: 0 5px;
  position: relative;
  display: inline-block;
}

.digit .segment {
  
  background: rgb(12, 12, 12);
  border-radius: 5px;
  position: absolute;
  opacity: 0.15;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.digit .segment.on,
.separator {
  
  opacity: 1;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.7);
  transition: opacity 0s;
  -webkit-transition: opacity 0s;
  -ms-transition: opacity 0s;
  -moz-transition: opacity 0s;
  -o-transition: opacity 0s;
}

.separator {
  
  width: 20px;
  height: 20px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: -90px;
}

.digit .segment:nth-child(1) {
  top: 10px;
  left: 20px;
  right: 20px;
  height: 10px;
}

.digit .segment:nth-child(2) {
  top: 20px;
  right: 10px;
  width: 10px;
  height: 75px;
  height: calc(50% - 25px);
}

.digit .segment:nth-child(3) {
  bottom: 20px;
  right: 10px;
  width: 10px;
  height: 75px;
  height: calc(50% - 25px);
}

.digit .segment:nth-child(4) {
  bottom: 10px;
  right: 20px;
  height: 10px;
  left: 20px;
}

.digit .segment:nth-child(5) {
  bottom: 20px;
  left: 10px;
  width: 10px;
  height: 75px;
  height: calc(50% - 25px);
}

.digit .segment:nth-child(6) {
  top: 20px;
  left: 10px;
  width: 10px;
  height: 75px;
  height: calc(50% - 25px);
}

.digit .segment:nth-child(7) {
  bottom: 95px;
  bottom: calc(50% - 5px);
  right: 20px;
  left: 20px;
  height: 10px;
}
